<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="color: #4b67a1;" > Tweet Detail - IRWA Search Engine</title>
</head>
<body>

<h1>Tweet Details - IRWA Search Engine</h1>
<hr>
</div>
</div>
</div>
<div class="doc-desc">
    Date & Time: <strong> {{ date }}  </strong></p>
</div>
    <p>User: <strong> {{ user }}  </strong></p>
</div>
  <p>Tweet:</p>
</div>
  <strong> {{ tweet }}  </strong>
</div>

</div><div class="doc-desc">
  <p>Hashtags : <strong> {{ hashtags }} </strong></p>
  <p>Number of likes: <strong> {{ likes }} </strong>
      </div>
      Number of retweets: <strong> {{ retweets }}</strong></p>
</div>
</div>
</div>
<div class="cited">
    <p>URL: <cite> <a href="{{ url }}">{{ url }}</a></cite></p>
</div>
</div>
<hr>
</div></p>
<div><a href="#" onclick="history.go(-1)">Go Back</a></div>
<div><a href="#" onclick="history.go(-2)">Go Back 2 pages</a></div>
<div><a href="#" onclick="history.go(-3)">Go Back 3 pages</a></div>
<div><a href="#" onclick="history.go(-4)">Go Back 4 pages</a></div>
<div><a href="/stats" >Stats</a></div>
<div><a href="/dashboard" >Dashboard</a></div>

</body>
</html>
